<?xml version="1.0"?>
<config>
	<modules>
		<Onerhino_Checkoutextend>
			<version>0.1.1</version>
		</Onerhino_Checkoutextend>
	</modules>
	<global>
		<blocks>
			<onerhino_checkoutextend>
				<class>Onerhino_Checkoutextend_Block</class>
			</onerhino_checkoutextend>
			<onestepcheckout>
				<rewrite>
					<checkout>Onerhino_Checkoutextend_Block_Checkout</checkout>
				</rewrite>
			</onestepcheckout>
		</blocks>
		<helpers>
			<onerhino_checkoutextend>
				<class>Onerhino_Checkoutextend_Helper</class>
			</onerhino_checkoutextend>
		</helpers>
		<models>
			<onerhino_checkoutextend>
				<class>Onerhino_Checkoutextend_Model</class>
			</onerhino_checkoutextend>
		</models>
		<events>
			<studioforty9_recaptcha_routes>
				<observers>
					<onerhino_checkoutextend>
						<class>onerhino_checkoutextend/observer</class>
						<method>addRecaptchaRouteToConfiguration</method>
					</onerhino_checkoutextend>
				</observers>
			</studioforty9_recaptcha_routes>
			<studioforty9_recaptcha_failed>
				<observers>
					<onerhino_checkoutextend>
						<class>onerhino_checkoutextend/observer</class>
						<method>onFailedRecaptcha</method>
					</onerhino_checkoutextend>
				</observers>
			</studioforty9_recaptcha_failed>
			<studioforty9_recaptcha_verify>
				<observers>
					<onerhino_checkoutextend>
						<class>onerhino_checkoutextend/observer</class>
						<method>onVerifyRecaptcha</method>
					</onerhino_checkoutextend>
				</observers>
			</studioforty9_recaptcha_verify>
		</events>
	</global>
	<frontend>
		<routers>
			<checkout>
				<args>
					<modules>
						<onerhino_checkoutextend before="Mage_Checkout">Onerhino_Checkoutextend</onerhino_checkoutextend>
					</modules>
				</args>
			</checkout>
			<onestepcheckout>
				<args>
					<modules>
						<onerhino_checkoutextend before="Idev_OneStepCheckout">Onerhino_Checkoutextend</onerhino_checkoutextend>
					</modules>
				</args>
			</onestepcheckout>
		</routers>
	</frontend>
</config>